# Introducción a los algoritmos de aprendizaje supervisado y no supervisado

## 1. Introducción al machine learning supervisado

En estos algoritmos, el modelo aprende a partir de un conjunto de datos etiquetados, es decir, cada entrada tiene una salida correspondiente. El objetivo es que el modelo pueda predecir la salida para nuevas entradas basándose en el aprendizaje previo. Estos modelos se pueden aplicar tanto en clasificación de fotos, reconocimiento de voz, predicción de precios, entre otros.

### 1.1 Presentación del problema y Análisis de datos

Cargamos el dataset de kaggle [Housing Price](https://www.kaggle.com/datasets/saurabhbadole/housing-price-data)
- Información sobre las casas y su precio
- Objetivo: predecir el precio de una casa en función de sus características

> Other datasets:
-  [Perth House Prices](https://www.kaggle.com/datasets/syuzai/perth-house-prices)
-  [Boston Housing Prices](https://www.kaggle.com/datasets/vikrishnan/boston-house-prices)

In [2]:
import pandas as pd
import numpy as np
from sklearn.metrics import classification_report, mean_squared_error, mean_absolute_error
from sklearn import linear_model

import matplotlib.pyplot as plt
import seaborn as sns

RNG = 42

#### 1.1.1 Análisis exploratorio de datos (EDA)

In [8]:
df_houses = pd.read_csv('datasets/Housing_Price_Data.csv')
df_houses.shape
df_houses.head()

      price  area  bedrooms  ...  parking  prefarea furnishingstatus
0  13300000  7420         4  ...        2       yes        furnished
1  12250000  8960         4  ...        3        no        furnished
2  12250000  9960         3  ...        2       yes   semi-furnished
3  12215000  7500         4  ...        3       yes        furnished
4  11410000  7420         4  ...        2        no        furnished

[5 rows x 13 columns]

Comprobamos el tamaño del dataset y visualizamos las primeras filas. Vemos que no hay muchos datos así que tenemos que tenerlo en cuenta a la hora de entrenar el modelo.

In [10]:
df_houses.isnull().sum() * 100 / len(df_houses)

price               0.0
area                0.0
bedrooms            0.0
bathrooms           0.0
stories             0.0
mainroad            0.0
guestroom           0.0
basement            0.0
hotwaterheating     0.0
airconditioning     0.0
parking             0.0
prefarea            0.0
furnishingstatus    0.0
dtype: float64

Comprobamos si hay valores nulos y planteamos como limpiarlo (no hay)

### 1.2 Algoritmos de regresión lineal

### 1.3 Algoritmos de clasificación